In [4]:
import urllib
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [5]:
params = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};"
                                 "SERVER=DESKTOP-LSOCJD8\SQLEXPRESS;"
                                 "DATABASE=NCAA_Basketball;"
                                 "Trusted_Connection=yes")

engine = create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))
connection = engine.connect()
result = connection.execute("SELECT SYSTEM_USER AS me")
row = result.fetchone()
print(row['me'])

MicrosoftAccount\chipk215@msn.com

In [8]:
def get_games_for_team(season, team, db_connect):
    print("Team = ", team)
    sql = """
    SELECT scheduled_date, home_team,market, opp_market, win, 
        points_game, opp_points_game,
        field_goals_pct, 
        offensive_rebounds, 
        free_throws_att,
        free_throws_pct,
        turnovers      
    FROM [NCAA_Basketball].[dbo].[D1_Sample_Games_2015]
     WHERE (season = {}) AND (market = '{}')
     """.format(season, team)
    
    team_df = pd.read_sql_query(sql, connection)
    return team_df

In [45]:
def compute_win_percentage(team_df):
    return team_df[team_df.win == True].count()['win']/team_df.shape[0]

In [51]:
def compute_feature_differences(principal_df, opponent_df):
    principal_summary = principal_df.describe()
    opponent_summary = opponent_df.describe()
    diff = principal_summary .loc['mean'] - opponent_summary.loc['mean']
    principal_vs_opponent = diff.to_frame(name="Difference").transpose()
    win_diff = compute_win_percentage(principal_df) -  compute_win_percentage(opponent_df)  
    principal_vs_opponent['win_pct'] = pd.Series(win_diff, index=principal_vs_opponent.index)
    return principal_vs_opponent

In [9]:
va_tech_df = get_games_for_team(2015, 'Virginia Tech', connection )
va_tech_df.head(20)

Team =  Virginia Tech

,scheduled_date,home_team,market,opp_market,win,points_game,opp_points_game,field_goals_pct,offensive_rebounds,free_throws_att,free_throws_pct,turnovers
0,2016-02-10,False,Virginia Tech,Virginia,False,49,67,35.6,3,17,76.5,14
1,2016-01-16,False,Virginia Tech,Georgia Tech,True,78,77,45.1,5,36,77.8,13
2,2016-02-24,False,Virginia Tech,Boston College,True,71,56,49.1,7,22,68.2,15
3,2016-03-11,False,Virginia Tech,Miami (FL),False,82,88,49.1,7,31,90.3,14
4,2016-02-03,False,Virginia Tech,Syracuse,False,60,68,39.7,7,13,53.8,14
5,2016-01-21,False,Virginia Tech,Notre Dame,False,81,83,50.0,4,27,74.1,10
6,2016-02-18,False,Virginia Tech,Miami (FL),False,49,65,29.6,11,14,78.6,15
7,2016-03-19,False,Virginia Tech,BYU,False,77,80,44.1,12,21,57.1,14

In [32]:
#Use describe to compute averages except for wins which is not a numeric
va_tech_summary = va_tech_df.describe()
print("Average points per game=",va_tech_summary.loc['mean']['points_game'])
va_tech_summary

Average points per game= 68.375

,points_game,opp_points_game,field_goals_pct,offensive_rebounds,free_throws_att,free_throws_pct,turnovers
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.00000
mean,68.375000,73.000000,42.787500,7.000000,22.625000,72.050000,13.62500
std,13.835126,10.717142,7.308398,3.162278,8.192985,11.978672,1.59799
min,49.000000,56.000000,29.600000,3.000000,13.000000,53.800000,10.00000
25%,57.250000,66.500000,38.675000,4.750000,16.250000,65.425000,13.75000
50%,74.000000,72.500000,44.600000,7.000000,21.500000,75.300000,14.00000
75%,78.750000,80.750000,49.100000,8.000000,28.000000,78.000000,14.25000
max,82.000000,88.000000,50.000000,12.000000,36.000000,90.300000,15.00000

In [33]:
virginia_df = get_games_for_team(2015, 'Virginia', connection )
virginia_df.head(20)

Team =  Virginia

,scheduled_date,home_team,market,opp_market,win,points_game,opp_points_game,field_goals_pct,offensive_rebounds,free_throws_att,free_throws_pct,turnovers
0,2015-11-20,False,Virginia,Bradley,True,82,57,56.6,7,17,94.1,9
1,2016-01-30,False,Virginia,Louisville,True,63,47,57.8,5,10,60.0,15
2,2016-01-09,False,Virginia,Georgia Tech,False,64,68,40.4,5,22,63.6,7
3,2016-03-13,False,Virginia,North Carolina,False,57,61,36.5,14,3,100.0,9
4,2016-02-23,False,Virginia,Miami (FL),False,61,64,43.1,14,9,66.7,7
5,2015-12-02,False,Virginia,Ohio State,True,64,58,44.2,8,13,76.9,7

In [52]:
result = compute_feature_differences(va_tech_df, virginia_df)
result

,points_game,opp_points_game,field_goals_pct,offensive_rebounds,free_throws_att,free_throws_pct,turnovers,win_pct
Difference,3.208333,13.833333,-3.645833,-1.833333,10.291667,-4.833333,4.625,-0.25